.footer {
  background-color: var(--foreground);
  color: var(--background);
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: var(--background);
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}